nav {

	&.fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}

	&.primary {
		@include make-menu-items($menu-background-primary, $menu-color-primary);
	}

	&.secondary {

		@include make-menu-items($menu-background-secondary, $menu-color-secondary);
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				text-decoration: none;
				color: inherit;
				display: inline-block;
				font-size: $menu-font-size;
				padding: $menu-padding;
			}
		}
	}
}