.t-uc {
	text-transform: uppercase;
}
.t-it,
i {
	font-style: italic;
}
.t-bd,
b,
strong {
	font-weight: 700;
}
.t-un {
	text-decoration: underline;
}
.t-mn {
	font-size: $font-size-mini;
}
small,
.t-sm {
	font-size: $font-size-small;
}
small {
	display: inline-block;
}
.t-lg {
	font-size: $font-size-large;
}
.t-hg {
	font-size: $font-size-huge;
}
p {
	margin: $paragraph-margin;
	line-height: $paragraph-line-height;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ol,
ul {
	margin: $list-margin;

	li {
		line-height: $list-line-height;
	}

	&.fancy {
		margin: $list-fancy-margin;
		list-style: none;

		li {
			display: block;
			padding: $list-fancy-padding;
			border-bottom: $list-fancy-border $list-fancy-border-color;
			border-right: $list-fancy-border $list-fancy-border-color;
			border-left: $list-fancy-border $list-fancy-border-color;

			&:first-child {
				border-top: $list-fancy-border $list-fancy-border-color;
				-webkit-border-top-left-radius: $list-fancy-border-radius;
				-webkit-border-top-right-radius: $list-fancy-border-radius;
				-moz-border-radius-topleft: $list-fancy-border-radius;
				-moz-border-radius-topright: $list-fancy-border-radius;
				border-top-left-radius: $list-fancy-border-radius;
				border-top-right-radius: $list-fancy-border-radius;
			}

			&:last-child {
				-webkit-border-bottom-right-radius: $list-fancy-border-radius;
				-webkit-border-bottom-left-radius: $list-fancy-border-radius;
				-moz-border-radius-bottomright: $list-fancy-border-radius;
				-moz-border-radius-bottomleft: $list-fancy-border-radius;
				border-bottom-right-radius: $list-fancy-border-radius;
				border-bottom-left-radius: $list-fancy-border-radius;
			}

			&.active,
			&.primary,
			&.disabled,
			&.secondary {
				margin-top: -1px;
			}

			&.active,
			&.primary {
				background: $color-primary;
				color: $white;
				border-color: $color-primary;
			}

			&.disabled,
			&.secondary {
				background: $color-secondary;
				color: $white;
				border-bottom: $list-fancy-border $color-secondary;
			}
		}
	}
}