.t-uc {
	text-transform: uppercase;
}
.t-it,
i {
	font-style: italic;
}
.t-bd,
b,
strong {
	font-weight: 700;
}
.t-tn {
	font-size: $font-size-mini;
}
.t-sm {
	font-size: $font-size-small;
}
.t-lg {
	font-size: $font-size-large;
}
.t-hg {
	font-size: $font-size-huge;
}