@mixin make-board() {
	padding: $board-padding;
	-webkit-border-radius: $board-border-radius;
	-moz-border-radius: $board-border-radius;
	border-radius: $board-border-radius;
	float: left;
    min-height: 1px;
  
    &+& {
        margin-left: 0;

        @include scale-to('tablet') {
            margin-left: $grid-gutter-margin;
        }
    }
}